:root {
  --primary-color: #ffec5f;
  --primary-dark-color: #504a1f;
  --secondary-color: #dc3545;
  --light-color: #f0f0f0;
  --dark-color: #343a40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}